
.text-main
{
	color: #FB7299 ;
}
.border-main{
	border-color: #FB7299!important;
}
.text-main-hover
{
	color: #FB85A7 ;
}

.text-main-disabled
{
	color:  #FB85A7 ;
}

.bg-main
{
	background-color: #FB7299 ;
}
.bg-main-hover
{
		background-color: #FB85A7 ;
}

.bg-main-disabled
{
		background-color:  #FB85A7 ;
}
.line-h{
	line-height: 1.2;
}
.f-divider{
	height: 18rpx;
	background-color: #F5F5F4;
}